body { margin:0; padding:0; }

#map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
}

#logo {
    width: 100px;
    margin-right: 10px;
    margin-top: 5px;
}

.map-overylay-pane {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  box-shadow: 0px 1px 2px 0px gray;

}

.no-pointer-events {
    pointer-events: none;
}

.pointer-events {
    pointer-events: auto;
}