/*body { margin:0; padding:0; }*/

#map {
  height: 100%;
}

#map-container {
  height: 100vh;
}

.legend-overlay {
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  background: rgba(255, 255, 255, 0.8);
  font-family: Arial, sans-serif;
  overflow: auto;
}

.legend-title {
  font-weight: bold;
  display: block;
}

.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

/* small device */
.map-overlay-pane {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 1px 2px 0px gray;
  top: 0;
  height: 100%;
  position: fixed;
  z-index: 3;
}

.map-overlay-pane--collapsed {
  animation: slideOut 0.5s ease-in-out both;
}

.map-overlay-pane--expanded {
  animation: slideIn 0.5s ease-in-out both;
}

@keyframes slideIn {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}
@keyframes slideOut {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

/* tablet and up */
@media (min-width: 576px) {
  .map-overlay-pane {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    box-shadow: 0px 1px 2px 0px gray;
    top: 0;
    right: 0;
    height: 100%;
    position: fixed;
    animation: none;
  }
}

.coa-button-group {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.reset-map-btn {
  position: absolute;
  top: 110px;
  left: 10px;
  z-index: 1;
  padding: 4px 9px;
}

.disclaimer {
  color: gray;
  font-size: 0.8rem;
  bottom: 0;
  line-height: 1.2;
}

.city-seal-img {
  max-width: 95px;
  width: 100%;
}

.trip-stats-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 1rem;
}

.alert-dashed-border {
  border: 2px dashed rgba(56, 61, 65, 0.55);
}

.alert-purple {
  color: #433f5f;
  background-color: #dcdaec;
  border-color: #756bb1;
}

/* Spinner */
/*https://projects.lukehaas.me/css-loaders/*/
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(67, 148, 218, 0.2);
  border-right: 1.1em solid rgba(67, 148, 218, 0.2);
  border-bottom: 1.1em solid rgba(67, 148, 218, 0.2);
  border-left: 1.1em solid #4394da;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
